* {
    background-attachment: scroll !important;
    font-family: monospace, monospace;
    hyphens: auto;
    color: black;
    font-size: 14px;
    text-align: left;
}

table {
    table-layout: auto;
    width: 100%;
    padding: 16px;
    border-collapse: collapse;
}

table .item.default {
}

table .item.hidden {
    display: none;
}

th {
    border-bottom: solid 3px black;
}

tr {
    border: none;
    height: 50px;
}

td {
    height: 104px;
    padding: 10px;
    border-top: solid 1px black;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

.data.name, .data.name mark {
    font-size: 16px;
}

.data.metadata {
    display: grid;
    grid-template-columns: 100%;
}

.data.metadata span {
    font-size: 10px;
}

.links {
    display: grid;
    grid-template-columns:  repeat(auto-fill, 50px);
}

.link {
    padding: 4px;
}

.link a {
    outline: solid 2px black;
    outline-offset: 3px;
    text-decoration: none;
}

.preview {
    max-width: 512px;
    max-height: 100px;
    width: auto;
    height: auto;
    outline: solid 1px black;
    outline-offset: 2px;
    cursor: zoom-in;
}

.github {
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}
